* {
    box-sizing: border-box;/*easier to manipulate boxes based on their content*/
    background: rgb(39, 37, 37);
}

h1, h5 {
    font-family: 'McLaren', cursive;
    margin-left: 5px;
    color: rgb(173, 214, 214);
}

body{
    margin: 0; /*keeps the styling clean*/
}

p {
    font-family: 'McLaren', cursive;
    margin-left: 5px;/*just get it off the edge*/
    color: antiquewhite;
}

img {
    display: flex;
    width: 95vw;/*keeps it large*/
    height: auto;
    margin: auto;
}

@media only screen and (min-width: 500px) and (max-width: 750px) {
    img {
        width: 300px; /*images smaller at this viewpoint for better effect on tablet*/
        height: auto;
    }
}

@media only screen and (min-width: 750px) {
    img {
        float: left;/*float image left to and large to keep the text comfortable for reading*/
        width: 500px;
        height: auto;
        margin: 10px        
    }

    p {
        padding: 0 40px;
        text-align: justify;/*wrap the text around the image on flex*/
    }
}