* {
    box-sizing: border-box;
    background: rgb(39, 37, 37);
}

h1, h5 {
    font-family: 'McLaren', cursive;
    margin-left: 5px;
    color: rgb(173, 214, 214);
}

body{
    margin: 0;
}

p {
    font-family: 'McLaren', cursive;
    margin-left: 5px;
    color: antiquewhite;
}

img {
    display: flex;
    width: 95vw;
    height: auto;
    margin: auto;
}

@media only screen and (min-width: 500px) and (max-width: 750px) {
    img {
        width: 300px;
        height: auto;
    }
}

@media only screen and (min-width: 750px) {
    img {
        float: left;
        width: 500px;
        height: auto;
        margin: 10px        
    }

    p {
        padding: 0 40px;
        text-align: justify;
    }
}