*{
    box-sizing: border-box;

}
body {
    margin: 0;
}

#title {
    display: flex;
    flex: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ;
    color: rgb(236, 232, 168);
    height: 80vh;
    background: url(/images/Optimized-moontin2.jpg);
    background-size: cover;
}

#title h1 {
    
}

#media {
    padding: 0.2rem;
    height: 20px;
    margin: 0%;    
}

.giblets {
    background-color: gray;
    display: flex;
}

.giblets ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    list-style: none;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    padding-left: 0%;
}

.giblets ul li {
    padding: 0 1rem;
    
}

.giblets ul li a {
    text-decoration: none;
    color: aquamarine;
}

.giblets ul li a:visited {
    color: rgb(64, 202, 133)
}


.giblets ul li a:hover {
    color: rgb(245, 199, 130);
}

.pic-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.pic-menu img {
    width: 99.8vw;
    margin: 0;
    padding: 0;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: auto;
}

#linkd, #github {
    height: 2.5rem;
    mix-blend-mode: multiply;
    padding: 5px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h5 {
    display: none;
}

figcaption {
    font-size: small;
}

footer {
    background-color: gray;
   
}

@media (min-width: 550px) and (max-width: 749px) {
    .giblets ul {
        margin-left: auto;
    }
}

@media only screen and (min-width: 750px) {

    body {
        height: 100vh;
    }

    #container {
        background-color: gray;
        position: relative;
        min-height: 100vh;
    }

    .giblets ul {
        margin-left: auto; */
        font-size: small;
        align-items: center;     
    }

    h5 {
        display: flex;
        float: left;
        align-self: center;
        justify-self: center;
        font-weight: normal;
    }

    #linkd, #github {
        height: 2rem;
    }

    #linkd {
        padding: 0 25px;   
        
    }
    
    #github {
        padding: 0 25px;
        
    }

    .icons{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #title {
        height: 50vh;
    }

    .pic-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        flex-wrap: wrap;
        padding-bottom: 2.5rem;
    }

    .pic-menu img {
        width: 170px;
    }
    
    figure {
        padding-top: 30px;
    }
    
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
}