:root {
    --nav-colour: aquamarine;
    --p-colour: rgb(165, 52, 11);
    --nav-visit: rgb(64, 202, 133);         /*I don't know if I'll use many things more than once but just in case*/
    --nav-hover: rgb(245, 199, 130);
    --back: gray;
    --title-color: rgb(236, 232, 168); 
    --maintext: 'Playfair Display', serif;
    --titletext:'Amatic SC', cursive;
    --blog-text: rgb(42, 43, 124);
}

* {
    box-sizing: border-box; /*Makes it easier to fit things around each other*/
}

body {
    margin: 0; /*to keep look sleek and keep the gray background uniform*/
}

.title {
    display: flex; /*Flex for column display*/
    flex: 1; /*these make div grow and shrink in proportion with window*/
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; /* keeps the nice centered aesthetic*/
    align-items: center;
    font-family: var(--titletext);
    color: rgb(236, 232, 168);
    height: 80vh;
    background: url(/images/Optimized-moontin2.jpg);
    background-size: cover;
}

 .container {
    background-color: var(--back);
    position: relative;/*keep relative to normal position*/
    min-height: 100vh;
}

h2 {
    color: var(--title-color);
    font-family: var(--titletext);
    text-align:center; 
}

#media {
    padding: 0.2rem;/*keep a nice distance*/
    height: 20px;
    margin: 0%; /*seamless*/   
}

.giblets {
    background-color: var(--back);
    display: flex; /*make the top container shrink with screen */ 
}

ul {
    display: flex;
    flex-wrap: wrap;/*needed the wrap at lower viewports*/
    font-size: 13px; /*perfect, don't mess with this */
    list-style: none; /*aesthetics*/
    font-family: var(--maintext);
    font-size: 1.2rem;
    padding-left: 0%;
}

.giblets ul li {
    padding: 0 1rem; /*only want side to keep as sleek as possible without running into each other*/
    
}

ul li a {
    text-decoration: none;
    color: var(--nav-colour);
}


ul li a:visited {
    color: var(--nav-visit)
}

ul li a:hover {
    color: var(--nav-hover);/*may change later */
}

.pic-menu {
    display: flex;
    flex-direction: column; /*only way it will work*/
    justify-content: flex-start; /*these actually worked, don't mess with it */
    align-items: flex-start;
    background-color: var(--back);
    margin: 0;
    padding: 0;
}

.pic-menu img {
    width: 99.7vw; /*no side scroll */
    margin: 0;
    padding: 0;
}

figure {
    display: flex;
    flex-direction: column; /*will be changing back at larger viewport*/
    margin: 0;
}

#linkd, #github {
    height: 2.5rem;
    mix-blend-mode: multiply; /*makes the background of image fit with doc background. handy*/
    padding: 5px;
}

.icons {
    display: flex;
    flex-direction: column;/*will change back at larger viewport*/
    justify-content: center; /*remember: does align job w/column*/
}

#about p {
    color:rgb(187, 207, 3);
}

#about h1 {
    color:rgb(57, 168, 67)
}

h5 {
    display: none;/*only want on large screen*/
    color: var(--nav-colour);
    font-family: var(--maintext);
    padding-left: 10px;
}

figcaption {
    font-size: medium;/*will make smaller on large screen for sleek design */
    text-align: center;
    font-family: var(--titletext);
    color: var(--title-color);
}

footer {
    background-color: var(--back);
    font-size: x-small; /*set and forget*/
    color: var(--nav-colour);
    font-family: var(--maintext);
   
}

.contact {
    display: flex;
    flex-direction: column; /*text under image*/
    background-color: var(--back);
    min-height: 100vh;  /*stop the white creeping in*/
}

.contact img {
    display: flex;
    width: 100%; /* full width img, will change at larger viewports*/
    height: auto;
}

.context h1 {
    font-family: var(--titletext);
    color: rgb(216, 2, 187);
    font-size: 2.5rem; /* xl baby*/
}

.context p {
    font-family: var(--maintext);
    color: var(--p-colour);
    font-size: 1.2rem;
}

.context em { 
    color: rgb(12, 12, 214);
}


#cap {
    color: var(--title-color);
    font-family: var(--titletext);
}

#blog-h {
    font-family: var(--titletext);
    color: rgb(119, 41, 192);
    text-align: center; /*will style both. changing back at larger viewport*/

}

.blog-nav ul{
    margin: 0;
    padding: 0;/*this whole blog area was super tricky. eventually settled everything down over all three viewports with max and min height on two different elements*/
}

.blog-nav ul li {
    padding: 20px 0;
    margin: 10px 0;
    border: 2px solid rgb(82, 81, 81);
    background: rgb(180, 157, 157);
}

.blog-nav ul img {
    width: 98.5vw; /* no side scroll*/
    padding: 0;
    margin: 0;
}

.blog-nav ul li h3 {
    padding: 0 20px 5px 5px;
    color: rgb(42, 43, 124);
}

.blog-nav ul li h6 {
    display: flex; /*nearly broke the camel's back. leave it on the bottom*/
    color: rgb(42, 43, 124);
    margin: auto;
    padding: 10px;
}

#workh {
    font-family: var(--titletext);
    color:rgb(46, 22, 90);
    text-align: center;
}

#works img {
    display: flex;
    width: 95vw; /*no scroll*/
    height: auto;
    margin: auto;
}

.workp p {
    font-family: var(--maintext);
    color: rgb(122, 10, 16);
    margin-left: 5px;/*keep off img*/
}

.workp a {
    text-decoration: none;
    color: var(--nav-colour);
}


.workp a:visited {
    color: var(--nav-visit)
}

.workp a:hover {
    color: var(--nav-hover);
}

#bottom figure a img {
    display: flex;
    width: 95vw;
    max-width: 350px; /*was tricky to style. this is the sweet spot. may re-think later */
    margin: auto;
}

@media (min-width: 500px) and (max-width: 750px) {  /*tableta */

    .giblets ul {
        margin-left: auto; /*Thanks, Matt*/
        align-items: center;  /*middle of top*/
    }

    .pic-menu {
        display: flex;
        flex-direction: row; /*chnages back responsively*/
        flex-wrap: wrap;
        justify-content: center; /*keeps looking nice*/
        align-items: center;
    }

     .pic-menu img { 
        display: flex;
        width: 48vw; /*sweet spot for twp*/

    } 

    .contact {
        min-height: 100vh;
    }

    .contact img {
        display: flex;
        width: 500px;
        height: 300px;
        padding-top: 20px;
    }

    #about-img img {
        width: 300px; /*images smaller and centered at this width*/
        height: auto;
        justify-self: center;
        align-self: center;
    }

    #fam img {
        width: 500px;
        height: auto; /*had to style by self as size is different*/
    }

    .blog-nav ul {
        display: flex;
        justify-content: space-around; /*again this one tricky*/    
    }

    .blog-nav ul li {
        width: 48vw;  /*sweet spot*/
    } 

    .blog-nav ul li a h3 {
        min-height: 30%; /*this was tough to figure out*/
    }

    .blog-nav ul li a img {
        display: flex;
        width: 33vw;
        max-height: 60%;
        margin: auto;
    }  

    #works img {
        width: 400px;
        height: auto;
    }

    #bottom figure a img {
        width: 300px; /*bigger at this port than any other.*/
        height: auto;
    }
}

@media only screen and (min-width: 750px) {

    body {
        height: 100vh; /*keeps white out, fits view better*/
    }

    .container {
        background-color: var(--back);
        position: relative;
        min-height: 100vh; /*back to the start*/
    }

    .giblets ul {
        margin-left: auto; 
        font-size: small;
        align-items: center;     
    }

    h5 {
        display: flex;
        float: left;
        align-self: center;
        justify-self: center;
        font-weight: normal;
        margin-top: 15px;
    }

    #linkd, #github {
        height: 2rem;
    }

    #linkd {
        padding: 0 25px;   
        
    }
    
    #github {
        padding: 0 25px;
        
    }

    .icons{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title {
        height: 60vh;
        display: flex;
        font-size: 1.2rem;
        font-weight: bolder;
    }

    .pic-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        flex-wrap: wrap;
        padding-bottom: 2.5rem;
    }

    .pic-menu img {
        width: 170px;
    }
    
    figure {
        padding-top: 30px;
    }

    figcaption {
        font-size: 1.1rem;
        font-family: var(--titletext);
    }
    
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;          
    }

    .contact {
        display: flex;
        flex-direction: row;
        background-color: var(--back);
        padding: 20px;
        min-height: 100vh;
    }

    .contact img {
        padding-right: 40px;
        display: flex;
        width: 300px;
        height: 199px;
    }

    .contact h2 {
        width: 280px;
    }

    #about-img {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
    }

    #about-img img {
        width: 300px;
        height: auto;
    }

    #fam img {
        width: 500px;
        height: auto;
    }

    #cap {
        display: flex;
        text-align: justify;
        width: 500px;
    }

    #about-img figure figcaption {
        display: flex;
        justify-self: flex-start;
        width: 260px;
    }

    #bjj img {
        display: flex;
        width: 500px;
    }

    #bjj figure figcaption {
        display: flex;
        width: 450px;
        text-align: center;
    }

    .blog-nav ul {
        display: flex;
        justify-content: space-around;
    }

    .blog-nav ul li {
        width: 350px;
    }

    .blog-nav ul img {
        display: flex;
        width: 300px;
        margin: auto;
    }

    .blog-nav ul li a h3 {
        min-height: 25%;
    }

    .blog-nav ul li a img {
        display: flex;
        max-height: 60%;
        margin: auto;
    }

    #works img {
        float: left;
        width: 500px;
        height: auto;
        margin: 10px        
    }

    .workp p {
        padding: 0 40px;
        text-align: justify;
    }

} 